<div layout="row" layout-wrap class="favorites-container">
  <div flex="100" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="20"layout="column" ng-repeat="fav in favorites">
    <md-card>
      <a href="/clothes/{{fav.slug}}"><img data-ng-if="fav.images[0]" src="{{fav.images[0]}}" class="md-card-image" alt="{{fav.name}}"></a>
      <md-card-content>
        <p><a href="/clothes/{{fav.slug}}">{{fav.name}}</a></p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(fav._id)" data-ng-if="favorited(fav._id)" aria-label="unfavorite">
          <md-icon md-svg-icon="favorite"></md-icon>
        </md-button>
        <md-menu data-ng-if="user" md-position-mode="target-right target">
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="add"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item data-ng-repeat="s in user.styles">
              <md-button ng-click="toggleInStyle(fav, s)">
                <div layout="row">
                  <p flex>{{s.name}}</p>
                  <md-icon md-menu-align-target md-svg-icon="check" data-ng-if="inStyle(fav._id, s.clothes)"></md-icon><md-icon md-menu-align-target data-ng-if="!inStyle(fav._id, s.clothes)"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="openCreateStyle(fav._id)">
                <div layout="row">
                  <p flex>Create New</p>
                  <md-icon md-menu-align-target md-svg-icon="add-circle-outline"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-actions>
    </md-card>
  </div>
</div>
<div layout-padding data-ng-if="!favorites || favorites.length === 0">
  <h1>Get out there and start favoriting!</h1>
</div>
