<div layout="row" layout-wrap class="search-container">
  <div flex="20" layout="column" ng-repeat="c in homeDisplay">
    <md-card>
     <a href="/clothes/{{c.slug}}"><img data-ng-if="c.images[0]" src="{{c.images[0]}}" class="md-card-image" alt="{{c.name}}"></a>
     <md-card-content>
       <p><a href="/clothes/{{c.slug}}">{{c.name}}</a></p>
     </md-card-content>
     <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="favorite(c._id)" data-ng-if="!favorited(c._id)" aria-label="favorite">
          <md-icon md-svg-icon="favorite-border"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(c._id)" data-ng-if="favorited(c._id)" aria-label="unfavorite">
          <md-icon md-svg-icon="favorite"></md-icon>
        </md-button>
        <md-menu data-ng-if="user" md-position-mode="target-right target">
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="add"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item data-ng-repeat="s in user.styles">
              <md-button ng-click="toggleInStyle(c, s)">
                <div layout="row">
                  <p flex>{{s.name}}</p>
                  <md-icon md-menu-align-target md-svg-icon="check" data-ng-if="inStyle(c._id, s.clothes)"></md-icon><md-icon md-menu-align-target data-ng-if="!inStyle(c._id, s.clothes)"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="openCreateStyle(c._id)">
                <div layout="row">
                  <p flex>Create New</p>
                  <md-icon md-menu-align-target md-svg-icon="add-circle-outline"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-card-actions>
    </md-card>
  </div>
</div>
