<h1>Working?</h1>
<p>Try searching "winter"</p>

<div layout="row" layout-wrap>
  <div flex="30">
    [flex="30"]
  </div>
  <div flex="45">
    [flex="45"]
  </div>
  <div flex="25">
    [flex="25"]
  </div>
  <div flex="33">
    [flex="33"]
  </div>
  <div flex="66">
    [flex="66"]
  </div>
  <div flex="50">
    [flex="50"]
  </div>
  <div flex>
    [flex]
  </div>
</div>

<!-- why isn't MD working? -.- -->
<md-content>
  <md-input-container class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Search</label>
    <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
    <input ng-model="user.name" type="text">
  </md-input-container>
  <md-button class="md-primary md-raised" data-ng-click="search(user.name)">Search</md-button>
<md-content>

{{clothes}}
