<div layout-padding>
  <div layout="row" flex="100">
    <div layout="column" flex="70">
      <h1>{{outfit.name}}</h1>
      <h3 data-ng-if="outfit.comment">Any comments: {{outfit.comment.name}}</h3>
      <h4 data-ng-if="!outfit.comment">Enter a comment with the form on the right</h4>
    </div>
    <div layout="column" flex="30">
      <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <!-- TODO : NEED SOMETHING TO COMMIT TO submit(contactForm) -->
        <form name="commentOutfit" data-ng-submit="comment(Outfit._id, form.comment)" novalidate data-ng-if="!sent">
          <md-input-container class="md-block">
              <label>Comment</label>
              <input ng-model="form.comment" type="text", name="comment" required>
              <div ng-messages="commentOutfit.comment.$error">
                <div ng-message="required">Please enter a comment if you want to add one.</div>
              </div>
            </md-input-container>
            <md-button class="md-block md-raised md-primary" type="submit" data-ng-disabled="contactForm.$invalid">Submit</md-button>
        </form>
      </md-content>
      <md-button class=" md-raised md-warn" data-ng-click="deleteOutfit()" data-ng-if="owner()">Delete</md-button>
    </div>
  </div>
</div>

<div layout="row" flex="100" layout-padding>
  <div flex="70" layout="column" layout-wrap>
    <div layout="row" flex="100" layout-wrap>
      <div flex="30" layout="column" ng-repeat="c in clothing">
        <md-card>
          <a href="/clothes/{{c.slug}}"><img data-ng-if="c.images[0]" src="{{c.images[0]}}" class="md-card-image" alt="{{c.name}}"></a>
          <md-card-content>
            <p><a href="/clothes/{{c.slug}}">{{c.name}}</a></p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(c._id)" data-ng-if="favorited(c._id)" aria-label="unfavorite">
              <md-icon md-svg-icon="favorite"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="favorite(c._id)" data-ng-if="!favorited(c._id)" aria-label="favorite">
              <md-icon md-svg-icon="favorite-border"></md-icon>
            </md-button>
            <md-button ng-click="toggleInOutfit(c)" class="md-icon-button" aria-label="Open sample menu">
              <md-icon md-svg-icon="add" data-ng-if="!inOutfit(c._id)"></md-icon>
              <md-icon md-svg-icon="check" data-ng-if="inOutfit(c._id)"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
  <div flex="30" layout="column" layout-wrap ng-if="user">
    <div layout="row">
      <h2>Favorites</h2>
    </div>
    <div layout="row">
      <div flex="50" layout="column" ng-repeat="fav in favorites">
        <md-card>
          <a href="/clothes/{{fav.slug}}"><img data-ng-if="fav.images[0]" src="{{fav.images[0]}}" class="md-card-image" alt="{{fav.name}}"></a>
          <md-card-content>
            <p><a href="/clothes/{{fav.slug}}">{{fav.name}}</a></p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(fav._id)" data-ng-if="favorited(fav._id)" aria-label="unfavorite">
              <md-icon md-svg-icon="favorite"></md-icon>
            </md-button>
            <md-button ng-click="toggleInOutfit(fav)" class="md-icon-button" aria-label="Open sample menu">
              <md-icon md-svg-icon="add" data-ng-if="!inOutfit(fav._id)"></md-icon>
              <md-icon md-svg-icon="check" data-ng-if="inOutfit(fav._id)"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>


<!--
  if user
  split page 50/50
    cards of what's in style
    cards of what's in favorites
  -->

