<!-- outfits.html -->
<!-- TODO : EDIT LAYOUT, but for now it should do the trick -->
<div class="column" layout-padding>
  <h1>This is the outfits page!!!</h1>
  <md-list>
    <md-list-item class="md-2-line" data-ng-repeat="outfit in user.outfits" ng-click="outfitClick(outfit.slug)">
      <div class="md-list-item-text" layout="column">
        <h3>{{outfit.name}}</h3>
        <p>Clothes: {{outfit.clothes.length || 0}}</p>
        <md-icon md-svg-icon="basket" aria-label="go to outfit" class="md-secondary md-hue-3"></md-icon>
      </div>
    </md-list-item>
  </md-list>
</div>
<!-- Why not coming on...  -->
<div layout-padding data-ng-if="!user.outfits || user.outfits.length === 0">
  <h4>Outfits are to keep track of things you might wear together. Not everything in your "winter wonderland" style will look good together, so keep track of what your future outfits here!</h4>
</div>