
<div layout="column" class="product-container"layout-padding>
  <div layout="row">
    <h1 class="product-name">{{product.name}}</h1>
  </div>
  <div layout="row" layout-align="space-around center">
    <div layout="column">
      <div layout="row">
        <h3>Basic Info</h3>
      </div>
      <div layout="row">
        <span class="info">Sizes: </span><span class="info" data-ng-repeat="s in product.sizes"> {{s}} </span>
      </div>
      <div layout="row" data-ng-if="product.length">
        <span>Length: {{product.length}}</span>
      </div>
      <div layout="row" data-ng-if="product.colors">
        <span class="info">Colors: </span><span class="info" data-ng-repeat="s in product.colors"> {{s}} </span>
      </div>
      <div layout="row">
        <span>Brand: {{product.brand}}</span>
      </div>
      <div layout="row">
        <span>Price: {{product.price}}</span>
      </div>
      <div class="buttons">
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="favorite(product._id)" data-ng-if="!favorited(product._id)" aria-label="favorite">
          <md-icon md-svg-icon="favorite-border"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(product._id)" data-ng-if="favorited(product._id)" aria-label="unfavorite">
          <md-icon md-svg-icon="favorite"></md-icon>
        </md-button>
        <md-menu data-ng-if="user" md-position-mode="target-right target">
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="add"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item data-ng-repeat="s in user.styles">
              <md-button ng-click="toggleInStyle(product, s)">
                <div layout="row">
                  <p flex>{{s.name}}</p>
                  <md-icon md-menu-align-target md-svg-icon="check" data-ng-if="inStyle(product._id, s.clothes)"></md-icon><md-icon md-menu-align-target data-ng-if="!inStyle(product._id, s.clothes)"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="openCreateStyle(product._id)">
                <div layout="row">
                  <p flex>Create New</p>
                  <md-icon md-menu-align-target md-svg-icon="add-circle-outline"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <a href="{{product.url}}" target="_blank"><md-button class="md-accent"><md-icon md-svg-icon="link"></md-icon></md-button></a>
      </div>
    </div>
    <div layout="column">
      <div layout="row" layout-align="center">
        <img src="{{featuredImage}}" class="productImg">
      </div>
      <div layout="row" layout-padding>
        <img layout="column" class="product-img" src="{{i}}" data-ng-repeat="i in product.images" max-height="40px">
      </div>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <p flex="50">{{product.description}}</p>
  </div>
</div>
