<!-- Code for displaying search results -->
<!-- <div flex="100" layout="row">
  <div flex="20" layout="column">
    <md-card >
     <img src="{{clothes[0].images[0]}}" class="md-card-image" alt="image caption">
     <md-card-content>
       <p>{{clothes[0].name}}</p>
     </md-card-content>
     <md-card-actions layout="column" layout-align="end center">
        <md-button>Favorite</md-button>
        <md-button>Add</md-button>
      </md-card-actions>
    </md-card>
    <md-card >
     <img src="{{clothes[0].images[0]}}" class="md-card-image" alt="image caption">
     <md-card-content>
       <p>{{clothes[0].name}}</p>
     </md-card-content>
     <md-card-actions layout="column" layout-align="end center">
        <md-button>Favorite</md-button>
        <md-button>Add</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex="20" layout="column">
    <md-card>
     <img src="{{clothes[0].images[0]}}" class="md-card-image" alt="image caption">
     <md-card-content>
       <p>{{clothes[0].name}}</p>
     </md-card-content>
     <md-card-actions layout="column" layout-align="end center">
        <md-button>Favorite</md-button>
        <md-button>Add</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div> -->
<!-- <div layout="column">
  <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex="30" data-ng-repeat="c in clothes" layout="column">
      <md-card>
          <img ng-src="{{c.images[0]}}" class="md-card-image" alt="Washed Out">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{c.name}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              {{c.description}}
            </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
        <md-card>
    </div>
  </md-content>
</div>
 -->

 {{clothes}}
