<!-- Code for displaying search results -->


<!-- for clothes... -->
<div layout="row" layout-wrap class="search-container" data-ng-if="searchType === 'clothing'">
  
  <div flex="100" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="20" layout="column" ng-repeat="o in outfits">
    <md-card>
       <a href="/outfits/{{o.slug}}">
         <md-card-content>
           <p><a href="/outfit/{{o.slug}}">{{o}}</a></p>
         </md-card-content>
    </md-card>
  </div>
  <div flex="100" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="20" layout="column" ng-repeat="c in clothes">
    <md-card>
     <a href="/clothes/{{c.slug}}"><img data-ng-if="c.images[0]" src="{{c.images[0]}}" class="md-card-image" alt="{{c.name}}"></a>
     <md-card-content>
       <p><a href="/clothes/{{c.slug}}">{{c.name}}</a></p>
     </md-card-content>
     <md-card-actions layout="row" layout-align="center center" ng-if="user">
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="favorite(c._id)" data-ng-if="!favorited(c._id)" aria-label="favorite">
          <md-icon md-svg-icon="favorite-border"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent md-hue-1" data-ng-click="deleteFav(c._id)" data-ng-if="favorited(c._id)" aria-label="unfavorite">
          <md-icon md-svg-icon="favorite"></md-icon>
        </md-button>
        <md-menu data-ng-if="user" md-position-mode="target-right target">
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="add"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item data-ng-repeat="s in user.styles">
              <md-button ng-click="toggleInStyle(c, s)">
                <div layout="row">
                  <p flex>{{s.name}}</p>
                  <md-icon md-menu-align-target md-svg-icon="check" data-ng-if="inStyle(c._id, s.clothes)"></md-icon><md-icon md-menu-align-target data-ng-if="!inStyle(c._id, s.clothes)"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item >
              <md-button ng-click="openCreateStyle(c._id)">
                <div layout="row">
                  <p flex>Create New</p>
                  <md-icon md-menu-align-target md-svg-icon="add-circle-outline"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <!-- Add Outfit -->
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
            <md-icon md-svg-icon="perm_identity"></md-icon>
          </md-button>
          <md-menu-content width="3">
            <h3 flex align="center">Outfits</h3>
              <md-menu-item data-ng-repeat="outfit in user.outfits">
                <md-button ng-click="toggleInOutfit(c, outfit)">
                  <div layout="row">
                    <p flex>{{outfit.name}}</p>
                    <md-icon md-menu-align-target md-svg-icon="check" data-ng-if="inOutfit(c._id, outfit.outfits)"></md-icon><md-icon md-menu-align-target data-ng-if="!inOutfit(c._id, outfit.clothes)"></md-icon>
                  </div>
                </md-button>
              </md-menu-item>
              <md-menu-item >
                <md-button ng-click="openCreateOutfit(c._id)">
                  <div layout="row">
                    <p flex>Create New</p>
                    <md-icon md-menu-align-target md-svg-icon="add-circle-outline"></md-icon>
                  </div>
                </md-button>
              </md-menu-item>
              </div>
            </div>
          </md-menu-content>
        </md-menu>
      </md-card-actions>
    </md-card>
  </div>
</div>
<!-- Add code for Styles or Outfits -->
<div flex="20" layout="column" ng-repeat="outfit in outfits">
          <!-- {{outfit.clothes}} -->
  <md-card>
    <a href="/outfit/{{outfit.slug}}"><img id="outfit-{{$index}}" src="outfits.coverImage" class="md-card-image" alt="{{outfit.name}}"></a>
    <md-card-content>
      <p><a href="/outfit/{{outfit.slug}}">{{outfit.name}}</a></p>
      <!-- <p>{{outfit}}</p> -->
    </md-card-content>
  </md-card>
</div>
<div flex="20" layout="column" ng-repeat="style in styles">    
  <md-card>
    <a href="/style/{{style.slug}}"><img id="style-{{$index}}" src="styles.coverImage" class="md-card-image" alt="{{style.name}}"></a>
    <md-card-content>
      <p><a href="/style/{{style.slug}}">{{style.name}}</a></p>
    </md-card-content>
  </md-card>
</div>