<div class="column" layout-padding>
  <h1>Style</h1>
  <md-list>
  <!-- link might break ripple -->
    <md-list-item class="md-2-line" data-ng-repeat="s in user.styles" ng-click="styleClick(s.slug)">
      <div class="md-list-item-text" layout="column">
        <h3>{{s.name}}</h3>
        <p>Clothes: {{s.clothes.length || 0}}</p>
        <md-icon md-svg-icon="basket" aria-label="go to style" class="md-secondary md-hue-3"></md-icon>
      </div>
    </md-list-item>
  </md-list>
</div>
<div layout-padding data-ng-if="!user.styles || user.styles.length === 0">
  <h1>Get out there and create a style!</h1>
</div>
